[submodule "zsh/.config/zsh/deps/zsh-syntax-highlighting"]
	path = zsh/.config/zsh/deps/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting
[submodule "zsh/.config/zsh/deps/zsh-autosuggestions"]
	path = zsh/.config/zsh/deps/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions
[submodule "zsh/.config/zsh/deps/powerlevel10k"]
	path = zsh/.config/zsh/deps/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
[submodule "systemd/.local/share/wallpapers"]
	path = systemd/.local/share/wallpapers
	url = git@github.com:flohw/wallpapers
[submodule "tmux/.config/tmux/plugins/nord-tmux"]
	path = tmux/.config/tmux/plugins/nord-tmux
	url = git@github.com:arcticicestudio/nord-tmux
[submodule "tmux/.config/tmux/plugins/tmux-prefix-highlight"]
	path = tmux/.config/tmux/plugins/tmux-prefix-highlight
	url = git@github.com:tmux-plugins/tmux-prefix-highlight
[submodule "tmux/.config/tmux/plugins/tmux-open"]
	path = tmux/.config/tmux/plugins/tmux-open
	url = git@github.com:tmux-plugins/tmux-open
[submodule "tmux/.config/tmux/plugins/tmux-pomodoro-plus"]
	path = tmux/.config/tmux/plugins/tmux-pomodoro-plus
	url = git@github.com:olimorris/tmux-pomodoro-plus
