#!/usr/bin/env zsh

export EDITOR=vim
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share
export TERMINAL=/usr/local/bin/st
LOCAL_BIN=$HOME/.local/bin
export PATH=$PATH:$LOCAL_BIN

### SECRET ENV ###
export GH_TOKEN=
